---
layout: single
---
<h1>About Me</h1>
<p>
	I am a fourth-year Ph.D. student in Computer Science at the University of California, Los Angeles, advised by <a href="http://web.cs.ucla.edu/~miryung/">Professor Miryung Kim</a> in the Software Evolution and Analysis Laboratory. I also work closely with <a href="http://web.cs.ucla.edu/~harryxu/">Professor Harry Xu</a>. Prior to joining UCLA, I obtained my undergraduate degree in Computer Science from UC Berkeley and worked for three years at LinkedIn Corporation in the Data Analytics Infrastructure group.
</p>
<!-- original version -->
<p>
	My current research interests focus on improving developer experiences with big data systems. At the moment, I am investigating performance debugging tools for Apache Spark and how job performance can be attributed to individual data records. More information about my research and previous work experience can be found <a href="/experience">here</a>.
</p>



