---
layout: single
---
<h1>About Me</h1>
<p>
	I am currently working as a Software Engineer at Acryl Data! Prior to this, I worked at Twitter/X for a year after completing my Ph.D. in Computer Science in 2022 at the University of California, Los Angeles, advised by <a href="http://web.cs.ucla.edu/~miryung/">Professor Miryung Kim</a> in the Software Evolution and Analysis Laboratory. I also worked closely with <a href="http://web.cs.ucla.edu/~harryxu/">Professor Harry Xu</a> and <a href="http://people.cs.vt.edu/~gulzar/">Professor Muhammad Ali Gulzar</a>. Before joining UCLA, I obtained my undergraduate degree in Computer Science from UC Berkeley and worked for three years at LinkedIn Corporation in the Data Analytics Infrastructure group.
</p>
<p>
	My research focuses on improving developer experiences with Big Data systems, with an emphasis on performance and correctness debugging. My prior works investigate how to enhance performance debugging for computation skew in Apache Spark and improve data provenance precision in dataflow applications through a combination of taint analysis and influence-based aggregation functions. More recently I have explored techniques which leverage targeted fuzz testing of individual user-defined functions in tandem with skew-inspired mutation operators to generate workloads which reproduce specified performance symptoms, particularly in scenarios where no suitable datasets are available.
</p>
<p>
	More information about my research and previous work experience can be found <a href="/experience">here</a> - feel free to reach out if you are interested in having a discussion!
</p>



